@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

:root{
    --poppins-font: 'Poppins', sans-serif;
    --dark-color: #fff;
    --bg-color:rgb(213, 231, 255);
    --header-color: rgb(142, 202, 240);
    --font-color: #000;

}
.dark-mode:root{
    --bg-color:rgb(11, 21, 54);
    --dark-color: #000;
    --font-color: #fff;
    --header-color: #1130e0;
}

 
body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 30px; 
    right: 10px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: orange; 
    color: var(--dark-color); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

header {
    background-color: var(--header-color);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid var(--font-color);
    border-radius: 50px;
    color: var(--header-color) ;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: var(--font-color);
}

.search:focus {
    background-color: var(--dark-color);
    outline: none;
}
.script-header-title span{
    color: var(--font-color);
    margin-left: 500px;
    font-size: 35px;
    margin: 55rem;
    
}
main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: var(--header-color);
    border-radius: 3px;
    box-shadow: 0 4px 5px var(--header-color);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color:var(--dark-color);
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: var(--dark-color);
}

.movie-info span.orange {
    color:  orange;
}

.movie-info span.red {
    color: var(--font-color);
}

.overview {
    background-color: var(--header-color) ;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
